body, html {
    margin: 0 !important;
    padding: 3.5vh 0 0 0.5vw !important;
}

body {
    background-color: #282828;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #eee;
}

body > h1, h2, h3, h4, h5, h6 {
    margin: 0;
    opacity: 0.9;
    font-weight: lighter;
}

body > p {
    margin-left: 1vw;
    margin-top: -0.5vh;
    font-size: 16px;
    opacity: 0.85;
}

.layout-name, .layout-examples {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

.layout-name, .layout-examples, .layout-image {
    margin-left: 1vw;
}

a {
    color: #eee;
    text-decoration: none;
}

#topbar {
    --topbar-height: 6vh;
    height: var(--topbar-height);
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    background-color: #222;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #eee;
    font-weight: lighter;
}

#simple, #credits, #source-code {
    float: right;
    height: var(--topbar-height);
    line-height: var(--topbar-height);
    margin: 0;
    padding: 0 1vw 0 1vw;
    transition: 0.2s;
}

#simple:hover, #credits:hover, #source-code:hover {
    background-color: #333;
    cursor: pointer;
}

#title {
    float: left;
    height: var(--topbar-height);
    line-height: var(--topbar-height);
    font-size: 20pt;
    font-weight: 450;
    opacity: 0.9;
    margin: 0;
    color: #eee;

}

#keyboard {
    margin: 1vh auto 1vh auto;
    padding: 1vw;
    display: inline-block;
    box-sizing: border-box;
    background-color: #333;
    --key-width: 3.5vw;
    margin-left: 1vw;
}

.line {
    line-height: 0vw;
    display: flex;
    height: var(--key-width);
    max-height: var(--key-width);
    width: calc(var(--key-width) * 22.5);
}


.key {
    background-color: #373737;
    height: var(--key-width);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: calc((0.7/3) * var(--key-width));
    color: #bbb;
    display: inline-flex;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box; 
    box-shadow:
        0.2vw 0 0 0 black,
        0 0.2vw 0 0 black,
        0.2vw 0.2vw 0 0 black,
        0.2vw 0 0 0 black inset,
        0 0.2vw 0 0 black inset;
    transition: 0.05s;
}

.key > * {
    user-select: none;
    margin: 0.2vw 0 0 0.2vw;
}

.hover-key {
    background-color: #404040;
}

.selected-key {
    background-color: #494949;
}

.gap {
    display: inline-block;
}

.layout {
    width: auto;
}

.layout-image {
    width: 35vw;
}

@media(orientation: portrait){
    .layout-image {
        width: 65vw;
    }
}

.w-_25 {
    width: calc(var(--key-width)*.25);
}

.w-_5 {
    width: calc(var(--key-width)*.5);
}

.w-1 {
    width: var(--key-width);
}

.h-2 {
    height: calc(var(--key-width)*2);
    vertical-align: top;
    /* border-radius: 17%/calc(17%/2); */
}

.w-1_25 {
    width: calc(var(--key-width)*1.25);
    /* border-radius: calc(17%/1.25)/17%; */
}

.w-1_5 {
    width: calc(var(--key-width)*1.5);
    /* border-radius: calc(17%/1.5)/17%; */
}

.w-1_75 {
    width: calc(var(--key-width)*1.75);
    /* border-radius: calc(17%/1.75)/17%; */
}

.w-2 {
    width: calc(var(--key-width)*2);
    /* border-radius: calc(17%/2)/17%; */
}

.w-2_25 {
    width: calc(var(--key-width)*2.25);
    /* border-radius: calc(17%/2.25)/17%; */
}

.w-2_75 {
    width: calc(var(--key-width)*2.75);
    /* border-radius: calc(17%/2.75)/17%; */
}

.w-3_5 {
    width: calc(var(--key-width)*3.5);
    /* border-radius: calc(17%/3.5)/17%; */
}

.w-6_25 {
    width: calc(var(--key-width)*6.25);
    /* border-radius: calc(17%/6.25)/17%; */
}
