body {
    background-color: #e56438;
}



.key {
    background-color: white;
    border-radius: 17%;
    height: 3vw;
    text-align: center;
    vertical-align: middle;
    line-height: 1vw;
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1vw;
    opacity: 0.7;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
}


.line {
    margin: 5px 0 5px 0;
}


.gap {
    display: inline-block;
    border: 1px solid transparent;
}

.w-_25 {
    width: 0.75vw;
}

.w-_5 {
    width: 1.5vw;
}

.w-1 {
    width: 3vw;
}

.w-1_5 {
    width: 4.5vw;
    border-radius: calc(17%/1.5)/17%;
}

.w-1_75 {
    width: 5.25vw;
    border-radius: calc(17%/1.75)/17%;
}

.w-2 {
    width: 6vw;
    border-radius: calc(17%/2)/17%;
}

.w-2_25 {
    width: 6.75vw;
    border-radius: calc(17%/2.25)/17%;
}
