body {
    background-color: #000000;
    color: white;
}

#keyboard {
    border: 4px solid white;
    width: auto;
}

/* 5em = 4 keyboard spaces */

.line {
    max-height: 5em;
    width: auto;
}

.key {
    border-radius: 17%;
    height: 4vw;
    margin: auto 0 auto 0;
    text-align: center;
    background-color: white;
    font-size: 1vw;
    border: 1px solid black;
    padding: 0;
    font-size: 1vw;
    display: inline-block;
}

.key::before {
    clear: both;
    content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}

.key > div {
    margin: 0;
    flex-direction: column;
    padding: 0;
}

.key > p {
    margin: 0;
}

.gap {
    display: inline-block;
    margin: 0 auto 0 auto;
}
¯
.w-1 {
    width: 1vw; 
}


.w-2 {
    width: 2vw;
}

.w-4 {
    width: 4vw;
}

.w-5 {
    border-radius: calc(17%*(4/5))/17%;
    width: 5vw;
}

.w-6 {
    border-radius: calc(17%*(4/6))/17%;
    width: 6vw;
}

.w-7 {
    border-radius: calc(17%*(4/7))/17%;
    width: 7vw;
}

.w-8 {
    border-radius: calc(17%*(4/8))/17%;
    width: 8vw;
}

.w-9 {
    border-radius: calc(17%*(4/9))/17%;
    width: 9vw;
}

.w-10 {
    border-radius: calc(17%*(4/10))/17%;
    width: 10vw;
}

.w-12 {
    border-radius: calc(17%*(4/12))/17%;
    width: 12vw;
}


.w-13 {
    border-radius: calc(17%*(4/13))/17%;
    width: 13vw;
}

.space {
    border-radius: calc(17%*(4/26.5))/17%;
    width: 26.5vw;
}

.r_shift {
    border-radius: calc(17%*(4/12.5))/17%;
    width: 12.5vw;
}

.enter {
    border-radius: calc(17%*(4/9.25))/17%;
    width: 9.25vw;
}